.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

#map {
  width: 70%;
  height: calc(100vh - 100px);
}

.spinner {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}
